<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CollectorLogin</display-name>
    <servlet-name>CollectorLogin</servlet-name>
    <servlet-class>com.dms.servlets.CollectorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectorLogin</servlet-name>
    <url-pattern>/CollectorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCollector</display-name>
    <servlet-name>RegisterCollector</servlet-name>
    <servlet-class>com.dms.servlets.RegisterCollector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCollector</servlet-name>
    <url-pattern>/RegisterCollector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.dms.servlets.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReceiveToday</display-name>
    <servlet-name>ReceiveToday</servlet-name>
    <servlet-class>com.dms.servlets.ReceiveToday</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveToday</servlet-name>
    <url-pattern>/ReceiveToday</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductOps</display-name>
    <servlet-name>ProductOps</servlet-name>
    <servlet-class>com.dms.servlets.ProductOps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductOps</servlet-name>
    <url-pattern>/ProductOps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProviderOps</display-name>
    <servlet-name>ProviderOps</servlet-name>
    <servlet-class>com.dms.servlets.ProviderOps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProviderOps</servlet-name>
    <url-pattern>/ProviderOps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReport</display-name>
    <servlet-name>ViewReport</servlet-name>
    <servlet-class>com.dms.servlets.ViewReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReport</servlet-name>
    <url-pattern>/ViewReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessSalary</display-name>
    <servlet-name>ProcessSalary</servlet-name>
    <servlet-class>com.dms.servlets.ProcessSalary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessSalary</servlet-name>
    <url-pattern>/ProcessSalary</url-pattern>
  </servlet-mapping>
</web-app>